body {
    margin: 100px auto;
    width: 60%;
    /* border: 5px solid black; */
    background: url('Images/form-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* ID Selectors */
#container{
    background-color: cornsilk;
    opacity: 0.6;
}

#formDiv{
    border: 5px solid red;
}

#helloDiv{
    border: 5px solid red;
}

#submit{
    width: 50%;
}

#form{
    width: 50%;
    margin: 0 auto;
}