*{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

/* Class Selectors */
.main-header{
    background: #D9BEB4;
    width: 100%;
    padding: 8px 16px;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 168px);
    vertical-align: middle;
}

.main-nav__items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav__item{
    display: inline-block;
}

.main-nav__item a:hover{
    color:white;
    border-bottom: 2px solid white;
}

.main-nav__item a:active{
    color:white;

}

.main-nav__item > a{
    padding: 0 16px;
    text-decoration: none;
}

.main-nav__item--cta a{
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
    background: red;
    color:white;
}

.main-nav__item--cta a:hover{
    border-bottom: none;
    background: red;
    color: blue;
}

.secondary-overview__main-content, .secondary-overview__secondary-content{
    display: inline-block;
}

.secondary-overview__main-content{
    border-radius: 5px;
    border: 5px solid red;
    width: 74%
}

.secondary-overview__main-content > p{
    margin: 0;
}

.secondary-overview__secondary-content{
    border: 5px solid red;
    border-radius: 5px;
    width: 24%;
}

.secondary-overview__image{
    display: inline-block;
    width: 100%;
    height: 500px;
}

/* ID Selectors */
#main-overview{
    background: url("Images/cat.jpg"); 
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-position: center
}

#secondary-overview{
    border: 3px solid black;
}

#container{
    background-color: cornsilk;
    opacity: 0.6;
}

#formDiv{
    border: 5px solid red;
}

#helloDiv{
    border: 5px solid red;
}

#submit{
    width: 50%;
}

#form{
    width: 50%;
    margin: 0 auto;
}

/* Footer */
footer{
    border: 3px solid black;
    background: #D9BEB4;
}

footer img{
    padding: 0 0;
    display: inline-block;
    width: calc(1248.33px / 4);
    border-right: 1px solid black;
    vertical-align: top;
}

#product-overview-footer{
    display: inline-block;
    width: calc(1248.33px / 4);
    border-right: 1px solid black;
    vertical-align: top;
}

#social-media-footer{
    display: inline-block;
    width: calc(1248.33px / 4);
    border-right: 1px solid black;
    vertical-align: top;
}

#newsletter-footer{
    display:inline-block;
    width: calc(1248.33px / 4);
    vertical-align: top;
}

.form-footer{
    padding: 0;
    margin: 0;
}

.form-footer > input{
    border: 0;
    padding: 0;
}