*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    border: 2px solid black;
    padding:10px;
    width: 75%;  
    /*background: url('../Images/background2.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    margin: 20px auto;
}


section{
    padding-left: 50px;
    display: inline;
}

a{
    text-decoration: none;
}

footer{
    border: 3px solid black;
}

/* CLASS SELECTORS */
ul.navigation{
    list-style-type: none;
    padding: 25px;
    padding-left: 0;
}

ul.navigation li{
    display: inline;
    margin: 20px;
}

ul.navbar-nav li {
    display: inline;
    margin: 20px;
}

footer ul.footerClass {
    list-style: none;
}

.todaysCarsColumn{
    margin: auto;
    float: left;
    width: 33%;
    padding: 5px;
}

.sedans{
    width:75%;
    height:75%;
}

.flex-container{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineup-headers{
    display: flex;
    align-content: center;
    justify-content: center;
}

ul.footerClass li{
    display: block;
    float:left
}

/* ID Selectors */
#todayPhotosRow{
    margin: 20px auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    width: 100%;
}

#footerParagraphs{
    line-height: 0;
    font-size: 10px;
}

#contactInfoAndLogoHeader p {
    padding: 20px;
    font-size: 25px;
    margin:30px;
}


/* Nested Selectors */
section h2{
    margin: 0 auto;
}

header p{
    float: right;
}